aiohttp
pyrogram
beautifulsoup4
hachoir
numpy
Pillow
requests
tgcrypto
olefile
motor
pymongo
psutil
loggers
filetype
tldextract
aiofiles
pyromod
Flask
gunicorn==20.1.0
ffmpeg
ffmpeg-python
dnspython
yt-dlp
